<ul>
  <li>
Page for Cluster "<%= @cluster.name %>"
  </li>
  <li>
(Id: <%= @cluster.id %>)
  </li>
  <li>
  API key: <%= @cluster.api_key %>
  </li>
</ul>

<%= case @page do %>
<% [] -> %>
<!-- Show. -->
<% ["settings"] -> %>
Settings.
<% _other -> %>
    <p>
      Unknown page.

      <%= live_redirect to: Routes.live_path(@socket, SeascapeWeb.MainLive, []) do %>
      Go back home
      <% end %>
    </p>
<% end %>
